<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="text-left logo p-2 px-5">
                    <img src="https://i.imgur.com/2zDU056.png" width="50">
                </div>
                <div class="invoice p-5">
                    <h5>Your order Confirmed!</h5>
                    <span class="font-weight-bold d-block mt-4">Hello, Chris</span>
                    <span>You order has been confirmed and will be shipped in next two days!</span>
                    <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="py-2">
                                            <span class="d-block text-muted">Order Date</span>
                                            <span>12 Jan,2018</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="py-2">
                                            <span class="d-block text-muted">Order No</span>
                                            <span>MT12332345</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="py-2">
                                            <span class="d-block text-muted">Payment</span>
                                            <span><img src="https://img.icons8.com/color/48/000000/mastercard.png"
                                                    width="20" /></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="py-2">
                                            <span class="d-block text-muted">Shiping Address</span>
                                            <span>414 Advert Avenue, NY,USA</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="product border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td width="20%">
                                        <img src="https://i.imgur.com/u11K1qd.jpg" width="90">
                                    </td>
                                    <td width="60%">
                                        <span class="font-weight-bold">Men's Sports cap</span>
                                        <div class="product-qty">
                                            <span class="d-block">Quantity:1</span>
                                            <span>Color:Dark</span>
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right">
                                            <span class="font-weight-bold">$67.50</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <img src="https://i.imgur.com/SmBOua9.jpg" width="70">
                                    </td>
                                    <td width="60%">
                                        <span class="font-weight-bold">Men's Collar T-shirt</span>
                                        <div class="product-qty">
                                            <span class="d-block">Quantity:1</span>
                                            <span>Color:Orange</span>
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right">
                                            <span class="font-weight-bold">$77.50</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-5">
                            <table class="table table-borderless">
                                <tbody class="totals">
                                    <tr>
                                        <td>
                                            <div class="text-left">
                                                <span class="text-muted">Subtotal</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span>$168.50</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left">
                                                <span class="text-muted">Shipping Fee</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span>$22</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left">
                                                <span class="text-muted">Tax Fee</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span>$7.65</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left">
                                                <span class="text-muted">Discount</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span class="text-success">$168.50</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="border-top border-bottom">
                                        <td>
                                            <div class="text-left">
                                                <span class="font-weight-bold">Subtotal</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span class="font-weight-bold">$238.50</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p>We will be sending shipping confirmation email when the item shipped successfully!</p>
                    <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                    <span>Nike Team</span>

                </div>
                <div class="d-flex justify-content-between footer p-3">
                    <span>Need Help? visit our <a href="#"> help center</a></span>
                    <span>12 June, 2020</span>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footer-category">
        <div class="container">
            <h2 class="footer-category-title">Brand directory</h2>
            <div class="footer-category-box">
                <h3 class="category-box-title">Fashion :</h3>
                <a href="#" class="footer-category-link">T-shirt</a>
                <a href="#" class="footer-category-link">Shirts</a>
                <a href="#" class="footer-category-link">shorts & jeans</a>
                <a href="#" class="footer-category-link">jacket</a>
                <a href="#" class="footer-category-link">dress & frock</a>
                <a href="#" class="footer-category-link">innerwear</a>
                <a href="#" class="footer-category-link">hosiery</a>
            </div>
            <div class="footer-category-box">
                <h3 class="category-box-title">footwear :</h3>
                <a href="#" class="footer-category-link">sport</a>
                <a href="#" class="footer-category-link">formal</a>
                <a href="#" class="footer-category-link">Boots</a>
                <a href="#" class="footer-category-link">casual</a>
                <a href="#" class="footer-category-link">cowboy shoes</a>
                <a href="#" class="footer-category-link">safety shoes</a>
                <a href="#" class="footer-category-link">Party wear shoes</a>
                <a href="#" class="footer-category-link">Branded</a>
                <a href="#" class="footer-category-link">Firstcopy</a>
                <a href="#" class="footer-category-link">Long shoes</a>
            </div>
            <div class="footer-category-box">
                <h3 class="category-box-title">jewellery :</h3>
                <a href="#" class="footer-category-link">Necklace</a>
                <a href="#" class="footer-category-link">Earrings</a>
                <a href="#" class="footer-category-link">Couple rings</a>
                <a href="#" class="footer-category-link">Pendants</a>
                <a href="#" class="footer-category-link">Crystal</a>
                <a href="#" class="footer-category-link">Bangles</a>
                <a href="#" class="footer-category-link">bracelets</a>
                <a href="#" class="footer-category-link">nosepin</a>
                <a href="#" class="footer-category-link">chain</a>
                <a href="#" class="footer-category-link">Earrings</a>
                <a href="#" class="footer-category-link">Couple rings</a>
            </div>
            <div class="footer-category-box">
                <h3 class="category-box-title">cosmetics :</h3>
                <a href="#" class="footer-category-link">Shampoo</a>
                <a href="#" class="footer-category-link">Bodywash</a>
                <a href="#" class="footer-category-link">Facewash</a>
                <a href="#" class="footer-category-link">makeup kit</a>
                <a href="#" class="footer-category-link">liner</a>
                <a href="#" class="footer-category-link">lipstick</a>
                <a href="#" class="footer-category-link">prefume</a>
                <a href="#" class="footer-category-link">Body soap</a>
                <a href="#" class="footer-category-link">scrub</a>
                <a href="#" class="footer-category-link">hair gel</a>
                <a href="#" class="footer-category-link">hair colors</a>
                <a href="#" class="footer-category-link">hair dye</a>
                <a href="#" class="footer-category-link">sunscreen</a>
                <a href="#" class="footer-category-link">skin loson</a>
                <a href="#" class="footer-category-link">liner</a>
                <a href="#" class="footer-category-link">lipstick</a>
            </div>
        </div>
    </div>
    <div class="footer-nav">
        <div class="container">
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Popular Categories</h2>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Fashion</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Electronic</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Cosmetic</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Health</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Watches</a>
                </li>
            </ul>
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Products</h2>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Prices drop</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">New products</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Best sales</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Contact us</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Sitemap</a>
                </li>
            </ul>
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Our Company</h2>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Delivery</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Legal Notice</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Terms and conditions</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">About us</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Secure payment</a>
                </li>
            </ul>
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Services</h2>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Prices drop</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">New products</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Best sales</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Contact us</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Sitemap</a>
                </li>
            </ul>
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Contact</h2>
                </li>
                <li class="footer-nav-item flex">
                    <div class="icon-box">
                        <ion-icon name="location-outline"></ion-icon>
                    </div>
                    <address class="content">
                        419 State 414 Rte
                        Beaver Dams, New York(NY), 14812, USA
                    </address>
                </li>
                <li class="footer-nav-item flex">
                    <div class="icon-box">
                        <ion-icon name="call-outline"></ion-icon>
                    </div>
                    <a href="tel:+607936-8058" class="footer-nav-link">(607) 936-8058</a>
                </li>
                <li class="footer-nav-item flex">
                    <div class="icon-box">
                        <ion-icon name="mail-outline"></ion-icon>
                    </div>
                    <a href="mailto:example@gmail.com" class="footer-nav-link">example@gmail.com</a>
                </li>
            </ul>
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Follow Us</h2>
                </li>
                <li>
                    <ul class="social-link">
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">
                                <ion-icon name="logo-linkedin"></ion-icon>
                            </a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">
                                <ion-icon name="logo-instagram"></ion-icon>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <img src="/assets/images/payment.png" alt="payment method" class="payment-img">
            <p class="copyright">
                Copyright &copy; <a href="#">Anon</a> all rights reserved.
            </p>
        </div>
    </div>
</footer>