<div class="product-container">
    <div class="container">
        <div class="product-box col-md-12">
            <div class="product-main">
                <h2 class="title">Place Order</h2>
                <section class="h-100 gradient-custom">
                    <div class="container-fluid">
                        <form action="/" id="checkout-form">
                            <div class="row d-flex justify-content-center my-4 col-md-12">
                                <div class="col-md-8 mb-4">
                                    <div class="card mb-4">
                                        <div class="card-header py-3">
                                            <h5 class="mb-0">Biling details</h5>
                                        </div>
                                        <div class="card-body">
                                            <!-- 2 column grid layout with text inputs for the first and last names -->
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="form-outline">
                                                        <label class="form-label" for="">First name</label>
                                                        <input type="text" id="firstName" name="firstName"
                                                            class="form-control" onkeyup="validateFirstName()" />
                                                        <p id="firstNameErr" class="text-danger mt-3"></p>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-outline">
                                                        <label class="form-label" for="">Last name</label>
                                                        <input type="text" id="lastName" name="lastName"
                                                            class="form-control" onkeyup="validateLastName()" />
                                                        <p id="lastNameErr" class="text-danger mt-3"></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Email input -->
                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="">Email</label>
                                                <input type="email" id="email" name="email" class="form-control"
                                                    onkeyup="validateEmail()" />
                                                <p id="emailErr" class="text-danger mt-3"></p>
                                            </div>

                                            <!-- Number input -->
                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="">Phone</label>
                                                <input id="phone" name="phone" class="form-control"
                                                    onkeyup="validatePhone()" />
                                                <p id="phoneErr" class="text-danger mt-3"></p>
                                                <input type="text" name="userId" id="" hidden value="{{user._id}}">
                                            </div>

                                            <!-- Text input -->
                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="">Address</label>
                                                <input type="text" id="address" name="address" class="form-control"
                                                    onkeyup="validateAddress()" />
                                                <p id="addressErr" class="text-danger mt-3"></p>
                                            </div>

                                            <!-- Text input -->
                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="">Land Mark</label>
                                                <input type="text" id="landMark" name="landMark" class="form-control"
                                                    onkeyup="validateLandMark()" />
                                                <p id="landMarkErr" class="text-danger mt-3"></p>
                                            </div>

                                            <!-- Text input -->
                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="">Pincode</label>
                                                <input type="text" id="pinCode" name="pinCode" class="form-control"
                                                    onkeyup="validatePincode()" />
                                                <p id="pinCodeErr" class="text-danger mt-3"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-4">
                                    <div class="card mb-4">
                                        <div class="card-header py-3">
                                            <h5 class="mb-0">Summary</h5>
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                                    Products
                                                    <span>Rs.{{total}}</span>
                                                </li>
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center px-0">
                                                    Shipping
                                                    <span>Free</span>
                                                </li>
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                                    <div>
                                                        <strong>Total amount</strong>
                                                        <strong>
                                                            <p class="mb-0"></p>
                                                        </strong>
                                                    </div>
                                                    <span id="total"><strong>Rs.{{total}}</strong></span>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-header py-3">
                                            <h5 class="mb-0">Payment Method</h5>
                                        </div>
                                        <div class="card-body" style=" display: flex; justify-content: space-between; align-items: center; flex-direction: column">
                                            <label for="" class="radio-inline">
                                                <input type="radio" name="payment-method" value="COD" checked>COD
                                            </label>
                                            <label for="" class="radio-inline mt-2">
                                                <input type="radio" name="payment-method" value="ONLINE">RazorPay
                                            </label>
                                            <label for="" class="radio-inline mt-2">
                                                <input type="radio" name="payment-method" value="PAYPAL">PAYPAL
                                            </label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block"
                                        onclick="return validation()">
                                        Place Order
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <form action="" id="apply-coupon">
                        <div class="card-body col-md-5">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    <div class="form-outline flex-fill">
                                        <label for="">Enter the coupon code here...</label>
                                        <input type="text" id="form1" class="form-control form-control-lg"
                                            placeholder="Discount code" name="couponName" />
                                        <input type="text" name="total" value="{{total}}" hidden>
                                        {{!-- <span style="color: red;" id="code-error"></span> --}}
                                    </div>
                                    <button type="submit" onclick="applyCoupon()"
                                        class="btn btn-outline-warning btn-lg ms-3 mt-4">Apply</button>
                                </li>
                            </ul>
                            <span style="color: red;" id="coupon-error"></span>
                            <span style="color: green;" id="coupon-success"></span>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>


<!--- FOOTER -->

<footer>
    <div class="footer-category">
        <div class="container">
            <h2 class="footer-category-title">Brand directory</h2>
            <div class="footer-category-box">
                <h3 class="category-box-title">Fashion :</h3>
                <a href="#" class="footer-category-link">T-shirt</a>
                <a href="#" class="footer-category-link">Shirts</a>
                <a href="#" class="footer-category-link">shorts & jeans</a>
                <a href="#" class="footer-category-link">jacket</a>
                <a href="#" class="footer-category-link">dress & frock</a>
                <a href="#" class="footer-category-link">innerwear</a>
                <a href="#" class="footer-category-link">hosiery</a>
            </div>
            <div class="footer-category-box">
                <h3 class="category-box-title">footwear :</h3>
                <a href="#" class="footer-category-link">sport</a>
                <a href="#" class="footer-category-link">formal</a>
                <a href="#" class="footer-category-link">Boots</a>
                <a href="#" class="footer-category-link">casual</a>
                <a href="#" class="footer-category-link">cowboy shoes</a>
                <a href="#" class="footer-category-link">safety shoes</a>
                <a href="#" class="footer-category-link">Party wear shoes</a>
                <a href="#" class="footer-category-link">Branded</a>
                <a href="#" class="footer-category-link">Firstcopy</a>
                <a href="#" class="footer-category-link">Long shoes</a>
            </div>
            <div class="footer-category-box">
                <h3 class="category-box-title">jewellery :</h3>
                <a href="#" class="footer-category-link">Necklace</a>
                <a href="#" class="footer-category-link">Earrings</a>
                <a href="#" class="footer-category-link">Couple rings</a>
                <a href="#" class="footer-category-link">Pendants</a>
                <a href="#" class="footer-category-link">Crystal</a>
                <a href="#" class="footer-category-link">Bangles</a>
                <a href="#" class="footer-category-link">bracelets</a>
                <a href="#" class="footer-category-link">nosepin</a>
                <a href="#" class="footer-category-link">chain</a>
                <a href="#" class="footer-category-link">Earrings</a>
                <a href="#" class="footer-category-link">Couple rings</a>
            </div>
            <div class="footer-category-box">
                <h3 class="category-box-title">cosmetics :</h3>
                <a href="#" class="footer-category-link">Shampoo</a>
                <a href="#" class="footer-category-link">Bodywash</a>
                <a href="#" class="footer-category-link">Facewash</a>
                <a href="#" class="footer-category-link">makeup kit</a>
                <a href="#" class="footer-category-link">liner</a>
                <a href="#" class="footer-category-link">lipstick</a>
                <a href="#" class="footer-category-link">prefume</a>
                <a href="#" class="footer-category-link">Body soap</a>
                <a href="#" class="footer-category-link">scrub</a>
                <a href="#" class="footer-category-link">hair gel</a>
                <a href="#" class="footer-category-link">hair colors</a>
                <a href="#" class="footer-category-link">hair dye</a>
                <a href="#" class="footer-category-link">sunscreen</a>
                <a href="#" class="footer-category-link">skin loson</a>
                <a href="#" class="footer-category-link">liner</a>
                <a href="#" class="footer-category-link">lipstick</a>
            </div>
        </div>
    </div>
    <div class="footer-nav">
        <div class="container">
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Popular Categories</h2>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Fashion</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Electronic</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Cosmetic</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Health</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Watches</a>
                </li>
            </ul>
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Products</h2>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Prices drop</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">New products</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Best sales</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Contact us</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Sitemap</a>
                </li>
            </ul>
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Our Company</h2>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Delivery</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Legal Notice</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Terms and conditions</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">About us</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Secure payment</a>
                </li>
            </ul>
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Services</h2>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Prices drop</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">New products</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Best sales</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Contact us</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Sitemap</a>
                </li>
            </ul>
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Contact</h2>
                </li>
                <li class="footer-nav-item flex">
                    <div class="icon-box">
                        <ion-icon name="location-outline"></ion-icon>
                    </div>
                    <address class="content">
                        419 State 414 Rte
                        Beaver Dams, New York(NY), 14812, USA
                    </address>
                </li>
                <li class="footer-nav-item flex">
                    <div class="icon-box">
                        <ion-icon name="call-outline"></ion-icon>
                    </div>
                    <a href="tel:+607936-8058" class="footer-nav-link">(607) 936-8058</a>
                </li>
                <li class="footer-nav-item flex">
                    <div class="icon-box">
                        <ion-icon name="mail-outline"></ion-icon>
                    </div>
                    <a href="mailto:example@gmail.com" class="footer-nav-link">example@gmail.com</a>
                </li>
            </ul>
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Follow Us</h2>
                </li>
                <li>
                    <ul class="social-link">
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">
                                <ion-icon name="logo-linkedin"></ion-icon>
                            </a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">
                                <ion-icon name="logo-instagram"></ion-icon>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <img src="/assets/images/payment.png" alt="payment method" class="payment-img">
            <p class="copyright">
                Copyright &copy; <a href="#">Anon</a> all rights reserved.
            </p>
        </div>
    </div>
</footer>


<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                console.log(response)
                alert('place order')
                if (response.codSuccess) {
                    location.href = '/order-placed'
                } else if (response.paypalSuccess) {
                    console.log("$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$")
                    for (let i = 0; i < response.links.length; i++) {
                        if (response.links[i].rel === 'approval_url') {
                            location.href = response.links[i].href;
                        }
                    }
                }
                else {
                    razorpayPayment(response)
                }
            }
        })
    })

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_AyhfXZFR2tRSf5",
            "amount": order.amount,
            "currency": "INR",
            "name": "ecommerce",
            "description": "test description",
            "image": "https://example.com/your_logo",
            "order_id": order.id,
            "handler": function (response) {
                verifyPayment(response, order)
            },
            "prefill": {
                "name": "anu",
                "email": "anu@gmail.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#F37254"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open()
    }

    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = '/order-placed'
                } else {
                    alert('Payment failed')
                }
            }
        })
    }

</script>

<script>
    var errorFirstName = document.getElementById('firstNameErr')
    var errorLastName = document.getElementById('lastNameErr')
    var errorEmail = document.getElementById('emailErr')
    var errorMobileNumber = document.getElementById('numberErr')
    var errorAddress = document.getElementById('addressErr')
    var errorLandMark = document.getElementById('landMarkErr')
    var errorPinCode = document.getElementById('pinCodeErr')

    function validateFirstName() {
        const name = document.getElementById('firstName').value

        if (name == "") {
            errorFirstName.innerHTML = 'Enter your First Name'
            return false
        } else if
            (!name.match(/^[a-zA-Z]*$/)) {
            errorFirstName.innerHTML = 'Alphabets are only allowed'
            return false
        }
        errorFirstName.innerHTML = null
        return true

    }
    function validateLastName() {
        const name = document.getElementById('lastName').value

        if (name == "") {
            errorLastName.innerHTML = 'Enter your Last Name'
            return false
        } else if
            (!name.match(/^[a-zA-Z]*$/)) {
            errorLastName.innerHTML = 'Alphabets are only allowed'
            return false
        }
        errorLastName.innerHTML = null
        return true

    }
    function validateEmail() {
        const name = document.getElementById('email').value
        if (name == "") {
            errorEmail.innerHTML = "Enter you email address"
            return false


        } else if
            (!name.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
            errorEmail.innerHTML = 'Enter a proper email adress'
            return false
        }

        errorEmail.innerHTML = null
        return true
    }
    function validatePhone() {
        const name = document.getElementById('phoneNumber').value
        if (name == "" || name == null) {
            errorMobileNumber.innerHTML = "Enter a mobile number"
            return false
        } else if
            (name.length < 10 || name.length > 10) {
            errorMobileNumber.innerHTML = "Enter a Valid Mobile number"
            return false
        }

        errorMobileNumber.innerHTML = null
        return true
    }
    function validateAddress() {
        const name = document.getElementById('address').value
        if (name == "" || name == null) {
            errorAddress.innerHTML = "Enter your address"
            return false
        }

        errorAddress.innerHTML = null
        return true
    }
    function validateLandMark() {
        const name = document.getElementById('landMark').value
        if (name == "" || name == null) {
            errorLandMark.innerHTML = "Enter a land mark"
            return false
        }

        errorLandMark.innerHTML = null
        return true
    }
    function validatePincode() {
        const name = document.getElementById('pinCode').value
        if (name == "" || name == null) {
            errorPinCode.innerHTML = "Enter your pincode"
            return false
        } else if
            (name.length < 6 || name.length > 6) {
            errorPinCode.innerHTML = "Enter a valid pin code"
            return false
        }

        errorPinCode.innerHTML = null
        return true
    }
    function validation() {
        if (!validateFirstName() || !validateLastName() || !validateEmail() || !validatePhone() || !validateAddress() || !validateLandMark() || !validatePincode()) {
            return false
        }
        return true
    }


    $("#apply-coupon").submit((e) => {
        console.log('response');
        e.preventDefault()
        $.ajax({
            url: '/apply-coupon',
            method: 'post',
            data: $('#apply-coupon').serialize(),
            success: (response) => {
                if (response.couponErr) {
                    document.getElementById('coupon-error').innerHTML = response.couponErr
                } else if (response.userErr) {
                    document.getElementById('coupon-error').innerHTML = response.userErr
                } else {
                    document.getElementById('total').innerHTML = response.total
                    document.getElementById('coupon-success').innerHTML = "coupon Applied"
                    //  document.getElementById('totaltwo').value = response.total
                }
            }
        })
    })
</script>