<div class="container p-5">
	<div class="row ">
		<div class="col col-md-12 col-sm-12">
			<div class="screen1">
				<div class="screen__content">
					<form action="/signup" method="post" class="login1">
						<p style="font-size: 26px;">SIGNUP</p>
						{{#if otpErr}}
						<p class="error"> Invalid otp</p>
						{{/if}}
						{{#if SignErr}}
						<p class="error"> Mail already taken</p>
						{{/if}}
						<div class="login__field">
							<i class="login__icon fa fa-user"></i>
							<input name="firstName" id="firstName" type="text" class="login__input"
								placeholder=" First name" onkeyup="validateFirstName()">
							<p id="firstNameErr" class="text-danger mt-3"></p>
						</div>
						<div class="login__field">
							<i class="login__icon fa fa-user"></i>
							<input name="lastName" id="lastName" type="text" class="login__input"
								placeholder=" Second name" onkeyup="validateLastName()">
							<p id="lastNameErr" class="text-danger mt-3"></p>
						</div>
						<div class="login__field">
							<i class="login__icon fa fa-user"></i>
							<input name="phoneNumber" id="phoneNumber" type="tel" class="login__input"
								placeholder=" Phone number" onkeyup="validatePhoneNumber()">
							<p id="numberErr" class="text-danger mt-3"></p>
						</div>
						<div class="login__field">
							<i class="login__icon fa fa-user"></i>
							<input name="email" id="email" type="email" class="login__input" placeholder=" Email"
								onkeyup="validateEmail()">
							<p id="emailErr" class="text-danger mt-3"></p>
						</div>
						<div class="login__field">
							<i class="login__icon fa fa-lock"></i>
							<input name="password" id="password" type="password" class="login__input"
								placeholder="Password" onkeyup="validatePassword()">
							<p id="passwordErr" class="text-danger mt-3"></p>
						</div>
						{{!-- <div class="login__field">
							<i class="login__icon fa fa-lock"></i>
							<input name="password2" type="password" class="login__input"
								placeholder="Re-enter password">
						</div> --}}
						<button class="button login__submit" type="submit" onclick="return validation()">
							<span class="button__text">Sent OTP</span>
							<i class="button__icon fa fa-chevron-right"></i>
						</button>
						<p class="mt-5 ">Have already an account? <a href="/login" class="fw-bold text-body"
								style="color: white; margin-left: 329px;"><u>Login here</u></a></p>
					</form>
				</div>
				<div class="screen__background">
					<span class="screen__background__shape screen__background__shape4"></span>
					<span class="screen__background__shape screen__background__shape3"></span>
					<span class="screen__background__shape screen__background__shape2"></span>
					<span class="screen__background__shape screen__background__shape1"></span>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-family: Raleway, sans-serif;
	}

	body {
		background: linear-gradient(90deg, #C7C5F4, #776BCC);
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}

	.screen1 {
		background: linear-gradient(90deg, #5D54A4, #7C78B8);
		position: relative;
		height: 804px;
		width: 511px;
		box-shadow: 0px 0px 24px #5C5696;
	}

	.screen__content {
		z-index: 1;
		position: relative;
		height: 100%;
	}

	.screen__background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		-webkit-clip-path: inset(0 0 0 0);
		clip-path: inset(0 0 0 0);
	}

	.screen__background__shape {
		transform: rotate(45deg);
		position: absolute;
	}

	.screen__background__shape1 {
		height: 520px;
		width: 520px;
		background: #FFF;
		top: -50px;
		right: 120px;
		border-radius: 0 72px 0 0;
	}

	.screen__background__shape2 {
		height: 220px;
		width: 220px;
		background: #6C63AC;
		top: -172px;
		right: 0;
		border-radius: 32px;
	}

	.screen__background__shape3 {
		height: 540px;
		width: 190px;
		background: linear-gradient(270deg, #5D54A4, #6A679E);
		top: -24px;
		right: 0;
		border-radius: 32px;
	}

	.screen__background__shape4 {
		height: 400px;
		width: 200px;
		background: #7E7BB9;
		top: 420px;
		right: 50px;
		border-radius: 60px;
	}

	.login {
		width: 320px;
		padding: 30px;
		padding-top: 26px;
		line-height: 0px;
	}

	.login1 {
		width: 610px;
		padding: 30px;
		padding-top: 87px;
		line-height: 0px;
	}

	.login__field {
		padding: 20px 0px;
		position: relative;
	}

	.login__icon {
		position: absolute;
		top: 30px;
		color: #7875B5;
	}

	.login__input {
		border: none;
		border-bottom: 2px solid #D1D1D4;
		background: none;
		padding: 10px;
		padding-left: 24px;
		font-weight: 700;
		width: 75%;
		transition: .2s;
	}

	.login__input:active,
	.login__input:focus,
	.login__input:hover {
		outline: none;
		border-bottom-color: #6A679E;
	}

	.login__submit {
		background: #fff;
		font-size: 14px;
		margin-top: 30px;
		padding: 16px 20px;
		border-radius: 26px;
		border: 1px solid #D4D3E8;
		text-transform: uppercase;
		font-weight: 700;
		display: flex;
		align-items: center;
		width: 77%;
		color: #4C489D;
		box-shadow: 0px 2px 2px #5C5696;
		cursor: pointer;
		transition: .2s;
	}

	.login__submit:active,
	.login__submit:focus,
	.login__submit:hover {
		border-color: #6A679E;
		outline: none;
	}

	.button__icon {
		font-size: 24px;
		margin-left: auto;
		color: #7875B5;
	}

	.social-login {
		position: absolute;
		height: 140px;
		width: 160px;
		text-align: center;
		bottom: 0px;
		right: 0px;
		color: #fff;
	}

	.social-icons {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.social-login__icon {
		padding: 20px 10px;
		color: #fff;
		text-decoration: none;
		text-shadow: 0px 0px 8px #7875B5;
	}

	.social-login__icon:hover {
		transform: scale(1.5);
	}
</style>

<script>
	var errorFirstName = document.getElementById('firstNameErr')
	var errorLastName = document.getElementById('lastNameErr')
	var errorEmail = document.getElementById('emailErr')
	var errorPassword = document.getElementById('passwordErr')
	var errorMobileNumber = document.getElementById('numberErr')

	function validateFirstName() {
		const name = document.getElementById('firstName').value

		if (name == "") {
			errorFirstName.innerHTML = 'Enter your First Name'
			return false
		} else if
			(!name.match(/^[a-zA-Z]*$/)) {
			errorFirstName.innerHTML = 'Alphabets are only allowed'
			return false
		}
		errorFirstName.innerHTML = null
		return true

	}
	function validateLastName() {
		const name = document.getElementById('lastName').value

		if (name == "") {
			errorLastName.innerHTML = 'Enter your Last Name'
			return false
		} else if
			(!name.match(/^[a-zA-Z]*$/)) {
			errorLastName.innerHTML = 'Alphabets are only allowed'
			return false
		}
		errorLastName.innerHTML = null
		return true

	}
	function validateEmail() {
		const name = document.getElementById('email').value
		if (name == "") {
			errorEmail.innerHTML = "Enter you email address"
			return false


		} else if
			(!name.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
			errorEmail.innerHTML = 'Enter a proper email adress'
			return false
		}

		errorEmail.innerHTML = null
		return true
	}

	function validatePassword() {
		const name = document.getElementById('password').value
		if (name == "") {
			errorPassword.innerHTML = "Enter a password"
			return false
		}
		else if (name.length < 3) {
			errorPassword.innerHTML = "Password should be  three characters"
			return false
		}
		errorPassword.innerHTML = null
		return true
	}
	function validatePhoneNumber() {
		const name = document.getElementById('phoneNumber').value
		if (name == "" || name == null) {
			errorMobileNumber.innerHTML = "Enter a mobile number"
			return false
		} else if
			(name.length < 10 || name.length > 10) {
			errorMobileNumber.innerHTML = "Enter a Valid Mobile number"
			return false
		}

		errorMobileNumber.innerHTML = null
		return true
	}
	function validation() {
		if (!validateFirstName() || !validateLastName() || !validateEmail() || !validatePassword() || !validatePhoneNumber()) {
			return false
		}
		return true
	}
</script>